@charset "UTF-8";

:root {
    --cor01: #0056FF;
    --cor02: #001F3F;
    --cor03: #FFFFFF;
    --cor04: #D9D9D9;
    --cor05: #6A00FF;
    --cor06: #00FFB3;
    --cor07: #000000;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* {
    font-family: var(--fonte-padrao);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/fundo002.jpg);
    background-size: cover;
    background-position: center;
}


header {
    border: 1px solid var(--cor07);
    background-color: var(--cor06);
    border-radius: 10px;
    margin: 20px auto;
    padding: 15px;
    max-width: 800px;
    color: var(--cor02);
    text-align: center;
    transition: 0.5s;
}

header:hover {
    color: white;
    background-color: var(--cor02);
}

.titulo {
    font-size: 1.8rem;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    max-width: 800px;
}

article {
    border: 1px solid var(--cor07);
    background-color: var(--cor02);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    transition: 0.5s;
}

article:hover {
    margin: 10px 0;
}

article p {
    text-align: center;
    font-size: 1.2rem;
}

article a {
    text-decoration: none;
    color: var(--cor03);
}

article a:hover {
    text-decoration: underline;
}


footer {
    background-color: var(--cor06);
    border: 1px solid var(--cor07);
    border-radius: 10px;
    margin: 40px auto 20px auto;
    padding: 15px;
    max-width: 800px;
    text-align: center;
    color: var(--cor07);
    transition: 0.5s;
}

footer:hover {
    color: white;
    background-color: var(--cor02);
}


@media (max-width: 768px) {
    .titulo {
        font-size: 1.5rem;
    }

    article p {
        font-size: 1rem;
        padding: 15px;
    }

    header, footer, main {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 1.3rem;
    }

    article p {
        font-size: 0.9rem;
        padding: 10px;
    }

    header, footer, main {
        margin-left: 5px;
        margin-right: 5px;
    }
}
